.biography {
  text-align: center;

  &__photo {
    background-image: url(../images/concert-compressed.jpg);
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;

    @include media("max", "xl") {
      background-image: url(../images/concert_small.jpg);
    }

    @include media("max", "md") {
      background-image: url(../images/biography_mobile.jpg);
      position: fixed;
      background-repeat: no-repeat;
      background-size: 100% auto;
    }

    @include media("max", "xs") {
      background-image: url(../images/biography_mobile.jpg);
    }

    @media screen and (max-width: 915px) and (orientation: landscape) {
      background-image: url(../images/concert_small.jpg);
    }
  }

  &__overlay {
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 100px;

    @include media("max", "md") {
      padding-bottom: 0;
    }

    @media screen and (max-width: 915px) and (orientation: landscape) {
      padding-bottom: 30px;
    }
  }

  &__title {
    font-family: "Glober";
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 60px;

    @include media("max", "xs") {
      text-shadow: 4px 4px 6px black, 4px 4px 6px black, 4px 4px 6px black;
    }

    @media screen and (max-width: 280px) {
      font-size: 26px;
      overflow: hidden;
    }
    
    @media screen and (max-width: 915px) and (orientation: landscape) {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }

  &__text {
    width: 60%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-bottom: 100px;

    @include media("max", "md") {
      width: 90%;
      margin: 0 auto 0 auto;
      padding-bottom: 40px;
      margin-top: 500px;
      padding-bottom: 150px;
    }

    @include media("max", "xs") {
      width: 100%;
      margin-top: 250px;
    }

    @media screen and (max-width: 915px) and (orientation: landscape) {
      width: 70%;
      margin: 0 20px 0 auto;
      padding-bottom: 50px;
      padding-top: 35%;
    }
  }

  &__paragraph {
    width: 80%;
    margin: auto;
    line-height: 26px;
    padding-top: 30px;
    font-size: 18px;
    text-shadow: 4px 4px 6px black;
    text-align: justify;

    @include media("max", "md") {
      margin: 0 auto 0 auto;
      font-size: 16px;
      line-height: 22px;
    }

    @include media("max", "xs") {
      line-height: 20px;
      text-shadow: 4px 4px 6px black, 4px 4px 6px black, 4px 4px 6px black;
    }

    @media screen and (max-width: 915px) and (orientation: landscape) {
      line-height: 22px;
      font-size: 16px;
    }

    &:nth-of-type(1) {
      padding-top: 0;
    }
  }

  &__hidden {
    height: 0;
    opacity: 0;
    transition: opacity 1s linear;
  }

  &__hidden_mobile {
    @media screen and (max-width: 915px) and (orientation: landscape) {
      height: 0;
      opacity: 0;
      transition: all 1s linear;
    }

    @include media("max", "lg") {
      height: 0;
      opacity: 0;
      transition: all 1s linear;
    }
  }

  &__hidden_show {
    height: 100%;
    opacity: 1;
    transition: all 1s linear;

    &:first-of-type {
      padding-top: 30px; 
    }
  }

  &__button-show {
    float: right;
    font-weight: bold;
    display: block;
    cursor: pointer;

    &_mobile {
      display: none;

      @include media("max", "lg") {
        display: block;
        cursor: pointer;
        float: right;
        font-weight: bold;
        padding-top: 30px;
      }

      @media screen and (max-width: 915px) and (orientation: landscape) {
        display: block;
        cursor: pointer;
        float: right;
        font-weight: bold;
        padding-top: 30px;
      }
    }
  }

  &__button_hidden {
    display: none;
  }

  &__button-hide {
    padding-top: 30px;
    float: right;
    font-weight: bold;
    display: block;
    cursor: pointer;

    &_mobile {
      display: none;

      @include media("max", "lg") {
        float: left;
        font-weight: bold;
        display: block;
        cursor: pointer;
      }

      @media screen and (max-width: 915px) and (orientation: landscape) {
        float: left;
        display: block;
        font-weight: bold;
      }
    }
  }
}
