@font-face {
    font-family: 'Glober';
    font-weight: 200;
    src:  url(./vendor/fonts/GloberThinFree.otf);
  }
  
  @font-face {
    font-family: 'Glober';
    font-weight: 700;
    src:  url(./vendor/fonts/GloberBoldFree.otf);
  }

  @font-face {
    font-family: 'Lato';
    font-weight: 400;
    src:  url(./vendor/fonts/Lato-Regular.ttf);
  }

  @font-face {
    font-family: 'Lato';
    font-weight: 700;
    src:  url(./vendor/fonts/Lato-Bold.ttf);
  }

